/* Variable color */
:root {
  --white: #f3f3f3;
  --green: #0c3122;
  --light-green: #f0f2f1;
  --dark-green: #3d6c36;
  --circle-green: #6bbb5c;
  --dark-grey: #333333;
  --light-grey: #8f8f8f;
  --emerge-grey: #ebecf0;
  --grey: #707070;
  --red: #fc562d;
  /* --text-color: #707070; */
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--light-green);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Class General */

/* Header */
#header {
  background-color: var(--light-green);
}

#header.sticky {
  position: fixed;
}

.logo {
  width: 194px;
  height: 53px;
}

.header__sitemap {
  font-size: 18px;
  font-weight: 600;
  color: var(--light-grey);
  opacity: 0.6;
  transition: all 0.3s;
  margin-right: 40px;
  text-transform: uppercase;
}

.header__sitemap:hover {
  color: var(--dark-green);
  opacity: 1;
}

.header__sitemap.active {
  color: var(--dark-green);
  opacity: 1;
}

.header__icon {
  color: var(--dark-green);
  margin-right: 20px;
  cursor: pointer;
}

/* Footer */
#footer {
  background-color: var(--light-green);
  padding: 80px 0;
  border-top: 1px solid var(--light-grey);
}

.footer__logo {
  width: 98px;
  height: 78px;
  margin-bottom: 35px;
}

.footer__text {
  color: var(--light-grey);
  opacity: 0.6;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer__link {
  transition: all 0.3s;
}

.footer__link:hover {
  color: var(--dark-green);
  font-weight: 600;
}

.footer__circle--icon {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: var(--light-green);
  box-shadow: 5px 5px 10px 0px var(--light-grey), -5px -5px 10px 0px #fff;
  margin-top: 25px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  color: var(--circle-green);
  font-size: 20px;
  cursor: pointer;
}

.footer__title {
  color: var(--dark-green);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 60px;
}

.footer__input {
  margin: 20px 0 30px 0;
}

/* Card */
.card {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 10px 10px 20px 2px rgb(151 167 195 / 50%), -8px -8px 10px 5px #fff;
  cursor: pointer;
  width: 374px;
  height: 446px;
  border: none;
}

.card__img {
  background-color: var(--light-green);
  padding: 25px 60px;
  border-top-left-radius: 40px;
  position: relative;
  height: 323px;
  flex-shrink: 0;
}

.card__img img {
  width: 100%;
  height: 100%;
}

.card__hot {
  position: absolute;
  top: 25px;
  left: 15px;
  background-color: var(--red);
  border-radius: 5px;
  width: 52px;
  height: 52px;
}

.card__hot--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.card__hot--icon {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
}

.card__menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1s;
  transform: translateX(100%);
}

.card__menu--btn {
  padding: 10px;
  background-color: #fff;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.card__menu--btn.active {
  background-color: var(--dark-green);
}

.card__menu--icon {
  color: var(--light-grey);
}

.card__menu--icon.active {
  color: #fff;
}

/* Hover button */
.card__menu--btn:hover .card__menu--icon {
  color: var(--dark-green);
}

.card-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--light-grey);
}

.card-price {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--dark-green);
}

/* Hover card */
.card:hover .card__menu {
  opacity: 1;
  transform: translateX(0);
}

/* Box */
.box {
  background-color: var(--light-green);
  box-shadow: 10px 10px 20px 2px rgb(151 167 195 / 50%), -10px -10px 10px 5px #fff;
  padding: 50px;
  border-radius: 15px;
  cursor: pointer;
  width: 25rem;
  transition: all 1s;
}

.box__icon {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--circle-green);
  position: relative;
  margin-bottom: 25px;
}

.box__icon i {
  color: #fff;
  font-size: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box__title {
  font-size: 22px;
  font-weight: 550;
  color: var(--dark-green);
}

.box__name {
  color: var(--circle-green);
  font-weight: 500;
  font-size: 12px;
}

.box__text {
  font-size: 16px;
  line-height: 32px;
  color: var(--light-grey);
}

/* Hover box */
.box:hover {
  background-color: var(--circle-green);
}

.box:hover .box__icon {
  background-color: #fff;
}

.box:hover .box__icon i {
  color: var(--circle-green);
}

.box:hover .box__title {
  color: #fff;
}

.box:hover .box__name {
  color: #fff;
}

.box:hover .box__text {
  color: #fff;
}

/* Div position */
.div__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.div__space--between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Dash line */
.dash__line {
  width: 86px;
  height: 3px !important;
  color: var(--light-grey);
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Button */
.btn__emerge {
  display: block;
  padding: 13px 25px;
  color: var(--dark-green);
  background-color: var(--emerge-grey);
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: 7px 7px 20px 2px rgb(151 167 195 / 50%), -7px -7px 10px 2px #fff;
}

.btn__emerge:active {
  box-shadow: inset 7px 7px 20px 2px rgb(151 167 195 / 50%), inset -7px -7px 10px 2px #fff;
}

/* Input Indented*/
.input__indented {
  width: 100%;
  background-color: var(--emerge-grey);
  color: var(--circle-green);
  border: none;
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 6px 6px 10px 2px #cccbcb, inset 4px 2px 10px 2px #fff;
}

.input__indented:focus-visible {
  outline: none;
}

.input__indented::placeholder {
  color: var(--circle-green);
}

/* Section animation */
.section {
  transition: transform 1s, opacity 1s;
}

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}
