#register {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.form__container {
  display: flex;
}

.form__left {
  width: 50%;
}

.form__right {
  width: 50%;
}

.btn__sign--up {
  padding: 20px 70px;
}

.form__card--logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 50px;
}

.form__card--logo img {
  width: 176px;
  height: 48px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form__right {
    width: 100%;
  }

  .form__left {
    display: none;
  }
}
