#register {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.form__container {
  display: flex;
}

.btn__sign--up {
  padding: 20px 70px;
}

.form__card--logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 50px;
}

.form__card--logo img {
  width: 176px;
  height: 48px;
}
