#register {
  display: flex;
}

.form__card--logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 50px;
}

.form__card--logo img {
  width: 176px;
  height: 48px;
}
